<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registration_numbers.css">
</head>

<body>
    {{{body}}}
    <script src = 'http://code.jquery.com/jquery-1.12.0.min.js'></script>
    <script src="/js/change.js"></script>
</body>
<script src="js/registration_numbers.js"></script>


</html>