* {
    box-sizing: border-box;
}
.row::after {
      content: "";
      clear: both;
      display: table;
}
[class*="col-"] {
    float: left;
    padding: 9px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.inPutSize{
  size : 20;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: yellow;
    color: black;
    padding: 15px;
    margin-bottom: 10px;
    border : 3px solid black;
    border-radius: 10px;
}
/*For mobile phones*/
[class*="col-"] {
    width: 100%;
}
.displayReg ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.displayReg li {
    padding: 8px;
    margin-top: 7px;
    background-color: yellow;
    color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    max-width: 150px;
    min-width: 150px;

}
.displayInstruction{
  padding: 4.5px;
  margin: 7px;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  top:inherit;
  max-width: 750px;
  white-space: pre-line;
  min-height: 40px;
}
.appInstruction{
  padding: 3.5px;
  margin: 7px;
  border: 2px solid grey;
  border-radius: 5px;
  text: center;
  font-family:"Times New Roman", Helvetica, cursive ,fantasy,Times, Arial;
  font-weight: 500;
  font-size: 11px;
  color: black;
}
.footer{
  margin-top: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
.fa-plus{
  color: black;
  font-size: 12px;
  margin-top: 5px;
}
.fa-plus a{
  float: right;
  clear: both;
}
.fa-trash-alt{
  color: red;
  background-color: white;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .displayReg li{
      display: inline-block;
      margin-right: 7px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .moveToRight{
      float: right;
    }
    .inPutSize{
      size : 60;
    }
    .moveToRight::after {
          content: "";
          clear: both;
          display: table;
    }
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  width: 155px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  max-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 0rem; }
